h1 Editing user

== render 'form'

= link_to 'Show', @user
'|
= link_to 'Back', users_path

div id="map-container" data-data_lat="#{@user.latitude}" data-data_lng="#{@user.longitude}"
  div class="map-canvas" id="map"
= content_for :head do
  script src="https://maps.google.com/maps/api/js?sensor=true"

