body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
.ratings p {
    display: inline;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.advert_show {
    float: none;
    margin: auto;
}
#new_comment {
    display: none;
}
.apple_pagination {
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #e5e5e5;
    cursor: default;
    padding: 1em;
    text-align: center;
}
.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
    color: #aaaaaa;
}
.apple_pagination .current {
    background-color: #bebebe;
    border-radius: 1em;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 1.4em;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    width: 1.4em;
}
.apple_pagination a {
    color: black;
    text-decoration: none;
}
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline;
}
