// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comment_body {
      resize: vertical;
}
.com-sec a {
      display: inline;
}
.com-sec form {
      display: inline;
}
.com-sec span {
      display: inline;
}
.com-sec h3 {
      display: inline;
}
.com-sec h5 {
      display: inline;
}
