.login_box{
      width: 20%;
      position: absolute;
      top: 15%;
      left: 38%;
}
.form-links{
      text-align: center;
      margin-top: 1em;
}
.table-user-information > tbody > tr {
      border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
      border-top: 0;
}
.table-user-information > tbody > tr > td {
      border-top:0;
}
.panel {
      width: 60%;
}
